h1{color:rgb(4, 4, 88);font-size:calc(5px + 2.5vw)}
p{color:rgb(76, 23, 31);font-size:calc(5px + 1vw);text-align: center;}
body{background-color:#fcf3fa;}
h2{color:rgb(4, 4, 88);font-size:calc(1.5px + 2vw)}
h3{color:rgb(4, 4, 88);font-size:calc(1.5px + 2vw)}
ul{color: red; font-size:calc(3px + 1vw);background-color:white}
ol{color: red; font-size:calc(3px + 1vw);background-color:white}
header{font-size:calc(3px + 1vw);background-color:lavender}